html{
    min-height: 100%;
    position:relative;
}

body {
    padding-bottom: 20px;
    height: 100%;
}

.header{
    border-bottom: solid;
    border-width: 2px;
    position:relative;
    display:block;
    
}

.header-back {
    content: " ";
    background: url("../img/head-back.jpg");
    opacity: 0.5;
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.body{
    border-left: solid;
    border-right: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    height: 100%;
    width: 60%;
    position:absolute;
    margin-left: 20%;
    margin-right: 20%;
    background: #FFFFFF;
    z-index: -2;
}

body{
    
}
.container{
}

footer{
    bottom: 0;
    position: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 75%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.back-right{
    height: 100%;
    width: 20%;
    position: fixed;
    right: 0;
    background: url("../img/back.jpg");
    z-index: 2;
    background-position-x: -80%;
}

.back-left{
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    background: url("../img/back.jpg");
    z-index: 2;
}
.toolbar{
    background: #d5d5d5;
    border-bottom: solid;
    border-width: 1px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-collapse:collapse;
}

.toolbar table{
    margin-left: 1%;
}

.toolbar td {
    border-left: solid;
    border-right: solid;
    border-width: 1px;
}

.toolbar a{
    color: #000000;
    padding: 5px;
    text-decoration: underline;
    background: #d5d5d5
}

.toolbar a:link, .toolbar a:visited,
    .toolbar a:active, .toolbar a:hover {
        color: #333;
    }

.toolbar a:hover {
        background-color: #c7d1d6;
    }

.riderimg{
    width: 100%;
}

.imgHome{
    width: 40%;
    position: absolute;
    right: 2%;
    top: 72%;
}

.imgGear{
    margin-left: 15%;
    width: 65%;
}

.content{
    overflow-y:scroll;
    height:85%;
}