@model IEnumerable<WebApplication3.ProductCategory>

@{
    ViewBag.Title = "Clothing";

}
<h2>Clothing</h2>
<div class="content">
    @foreach (var item in Model)
    {
        <h2>@Html.ActionLink(item.Name, "Details", new { id = item.ProductCategoryID })</h2>
    }
</div>