@{
    ViewBag.Title = "Home Page";
}


<img src="~/img/home-rider.jpg"/>
<h1>Welcome to Adventure Bikes!</h1>

<p>
    Bringing you the highest quality bikes since 2016!<br />
    <br />
        Adventure bikes prides itself on it's easy to use
    website for browsing and buying our many great products!<br />
    <br />
    <img src="~/img/home2.jpg" />
    <br />
    Don't know where to start? <a href="../Bikes/Index.cshtml">click here</a>
    to start browsing our different bike models. I'm sure you'll find
    the bike that'll suit your needs!<br />
    <br />
    So what are you waiting for? Go start your Adventure!<br />
    <br />
    <img src="~img/home3.jpg"/>
</p>