@{
    ViewBag.Title = "Sent";
}
<h2>Your message has been sent</h2>
<p> We hope you had no issues in trying to contact us, we do love to hear from our customers! 
    <br />
    Click <a href="../../Home/">HERE</a> to return to the Home page</p>
