@model IEnumerable<WebApplication3.vProductAndDescription2>

@{
    ViewBag.Title = "Models";

}
<h1>Adventure Bikes</h1>
<h2>Touring Bike Models</h2>

@foreach (var item in Model)
{
    <h2>@Html.ActionLink(item.ProductModel, "Details", new { id = item.ProductModelID })</h2>
    <p>@item.Description</p>
}

